<template>
  
</template>

<script>
export default {
  name: 'Result',
  props: {},
  data() {
    return {}
  },
  mounted() {
    console.log('Result is inited')
  }
}
</script>

<style lang="stylus" scoped>

</style>