<template>
  <div>
    <h3>{{ title }}</h3>
    <!-- <Index content /> -->
    <div class="btn-wrapper">
      <router-link to="/test/" class="btn-start">Edit test</router-link>
      <router-link to="/test/1" class="btn-start">Start test</router-link>
    </div>
  </div>
</template>

<script>
// import Index from '@/components/Index.vue'

export default {
  name: 'StartPage',
  // components: { Index },
  data() {
    return {
      title: 'Start Page'
    }
  },
  mounted() {
    console.warn('StartPage in views is mounted')
  }
}
</script>

<style lang="stylus" scoped>
.btn-wrapper
  display flex
  justify-content center
  align-items center
  height 100%
.btn-start
  min-width 45%
  border 1px solid #42b983
  border-radius: 1rem
  text-align center
  padding 3rem 0
  margin 0 1rem
  text-decoration none
  transition .4s ease
  &:hover
    background-color rgba(#42b983, .1)
</style>