<template>
  <div>
    <div class="qbox">
      <h3 class="qbox-title" v-html="question.question"></h3>
      <div class="qbox-answers" ref="answbox">
        <span 
          v-for="a in question.answers" 
          v-html="a"
          @click.prevent="nextQuestion($event, a)"></span>
      </div>
    </div>

    <EditQuestion :question="question" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import EditQuestion from '@/components/EditQuestion.vue'

export default {
  name: 'TestPageTemplate',
  components: {
    EditQuestion
  },
  data() {
    return {
      question: {},
    }
  },
  computed: {
    ...mapGetters(['GET_TEST']),
  },
  methods: {
    nextQuestion(e, answer) {
      let target = e.target
      let correctAnswer = this.question.correct_answer
      let triggerClass = correctAnswer != answer ? 'wrong' : 'right'
      target.classList.add(triggerClass)
      // target.parentNode.classList.add('disabled')

      // find correct answer
      let correctAnswerIndex = this.question.answers.indexOf(correctAnswer)
      target.parentNode.querySelectorAll('span')[correctAnswerIndex].classList.add('is-right')

      // setTimeout(this.nextQuestionInit, 2000)
      setTimeout(() => {
        let elem = this.$refs.answbox
        elem.querySelectorAll('span').forEach(el => el.removeAttribute('class'))
        this.nextQuestionInit()
      }, 2000)
      // setTimeout(this.loadQuestionData, 2000)
    },
    nextQuestionInit() {
      let newPageIndex = parseInt(this.$route.params.id) + 1
      let pagePathUrl = this.$route.path.slice(0,-1)

      if (newPageIndex > this.GET_TEST.length) {
        return this.$router.push('/result')
      }

      this.$router.push(pagePathUrl + newPageIndex)
      // this.question = this.GET_TEST[newPageIndex]
    },
    loadQuestionData() {
      this.question = this.GET_TEST[this.$route.params.id - 1]
    }
  },
  watch: {
    $route: 'loadQuestionData',
  },
  created() {
    this.loadQuestionData()
  },
  mounted() {
    console.warn(`TestPageTemplate ${this.$route.params.id} in views is mounted`)
    // this.question = this.GET_TEST[this.$route.params.id - 1]
    console.log(this.question.question)
  }
}
</script>

<style lang="stylus" scoped>
// .qbox
// .qbox-title
.qbox-answers
  display flex
  justify-content center
  &.disabled
    pointer-events none
  span
    display inline-block
    font-size .8rem
    padding .5rem
    cursor pointer
    transition .4s ease
    box-shadow 0 0 .3rem 0 #2c3e50
    margin .3rem
    border-radius .2rem
    &:hover
      color #bf81a0
      box-shadow 0 0 .3rem 0 #bf81a0
    &.wrong
      color #BD8A8A
      box-shadow 0 0 .3rem #ff4444
    &.right
      color #78b478
      box-shadow 0 0 .3rem #78b478
    &.is-right
      color #78b478
</style>