<template>
  <div>
    <h3>{{ title }}</h3>
    <ol>
      <li v-for="q, i in GET_TEST" :key="i" @click="$router.push(`/test/${i + 1}`)">
        <h4 v-html="q.question"></h4>
        <div class="answ">
          <span 
            v-for="a in q.answers" 
            :key="a" 
            v-html="a"></span>
        </div>
      </li>
    </ol>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'TestPage',
  computed: {
    ...mapGetters(['GET_TEST']),
  },
  data() {
    return {
      title: 'Some test name'
    }
  },
  mounted() {
    console.warn('TestPage in views is mounted')
  }
}
</script>

<style lang="stylus" scoped>
.answ
  margin-right auto
  margin-left 2rem

  span
    display inline-block
    font-size .8rem
    padding .5rem
    cursor pointer
    transition .4s ease
    box-shadow 0 0 .3rem 0 #2c3e50
    margin .3rem
    border-radius .2rem
    &:hover
      color #bf81a0
      box-shadow 0 0 .3rem 0 #bf81a0
    &.false
      color #BD8A8A
      box-shadow 0 0 .3rem #ff4444
    &.right
      color #78b478
      box-shadow 0 0 .3rem #78b478

h4
  margin-top 0
ol
  padding-left 0
li
  position relative
  padding 1rem 2rem
  list-style none
  &.disabled
    pointer-events none
    &::after
      content: ''
      position absolute
      left 0
      top 0
      right 0
      bottom 0
      z-index 3
      background-color rgba(0,0,0, .2)
</style>