<template>
  <div class="qedit">
    <form action="">
      <textarea name="" ref="textarea" v-html="question.question"></textarea>

      <div class="qedit-answers">
        <div 
          v-for="(answer, index) in question.answers" 
          :key="answer" 
          :class="[
            question.correct_answer == answer && 'right',
            'qedit-answers-item'
          ]">
          <span v-html="answer"></span>
          <b @click="removeAnswerVariant(index)">x</b>
        </div>

        <!-- move to component -->
        <div class="answers-add">
          <input type="text" ref="addAnswerInput">
          <span class="btn btn-add" @click="showAddAnswerInput()"></span>
          <span class="btn btn-remove" @click="hideAddAnswerInput()"></span>
        </div>
      </div>

      <div class="btn-wrapper">
        <span class="cancel">Cancel</span>
        <span class="save" @click.prevent="save">Save</span>
      </div>
    </form>
    
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'EditQuestion',
  props: {
    question: Object
  },
  data() {
    return {
    }
  },
  methods: {
    ...mapMutations(['UPDATE_QUESTION']),
    save() {
      let questionIndex = this.$route.params.id - 1
      this.question.question = this.$refs.textarea.value
      this.UPDATE_QUESTION(this.question, questionIndex)
    },
    removeAnswerVariant(index) {
      // this.question.answers.splice(index, 1)
    },
    addAnswer() {},
    showAddAnswerInput() {
      this.$refs.addAnswerInput.parentNode.classList.add('activated')
      this.$refs.addAnswerInput.focus()
    },
    hideAddAnswerInput() {
      this.$refs.addAnswerInput.parentNode.classList.remove('activated')
      this.$refs.addAnswerInput.blur()
    }
  },
  updated() {
    this.$refs.textarea.value = this.question.question
  },
  mounted() {
    console.log('EditQuestion is inited', this.question)
  }
}
</script>
<style lang="stylus" scoped>

.answers-add
  position relative
  display flex
  justify-content center
  align-items center
  padding-left 1.4rem
  // background-color pink
  input
    width 6rem
    padding .2rem .3rem
    border-radius .2rem
    border 1px solid #121212
    transition .4s ease
  &:not(.activated)
    input
      width 0
      opacity 0
      transition .2s ease
      margin-right -.6rem
  .btn
    width: 2rem
    height: 2rem
    background-color #121212
    color #fff
    border-radius 50%
    margin-left .5rem
    display flex
    justify-content center
    align-items center
    cursor pointer
    &::after
      line-height 1
  .btn-add
    box-shadow 0 0 .3rem 0 #78b478
    position relative
    z-index 3
    transition .4s ease
    &::after
      content '+'
      font-size 1.5rem
    &:hover
      color #78b478

  .btn-remove
    position absolute
    right -2.5rem
    box-shadow 0 0 .3rem 0 #ff4444
    transition .4s ease
    &::after
      content 'x'
      font-size 1rem
      font-weight bold
    &:hover
      color #BD8A8A
  &:not(.activated)
    .btn-remove
      opacity 0
      right 0
</style>
<style lang="stylus" scoped>
.qedit
  position absolute
  bottom 2rem
  left 1rem
  right 1rem

.qedit-answers
  padding 2rem 0
  display flex
  flex-flow row wrap
  position relative

.qedit-answers-item
  display inline-block
  font-size .8rem
  padding .5rem
  cursor pointer
  transition .4s ease
  box-shadow 0 0 .3rem 0 #2c3e50
  margin .3rem
  border-radius .2rem
  position relative
  color #fff
  &.right
    color #78b478
    box-shadow 0 0 .3rem #78b478
  b
    width 1rem
    height 1rem
    position absolute
    right -.5rem
    top -.5rem
    background-color #333
    text-align center
    border-radius 50%



.qedit
  textarea
    width 100%
    background none
    border 1px solid #fff
    color #fff
    font-size 1rem
    font-weight 600
    font-family Montserrat
    text-align center
    padding 1rem 0
    // &:disabled
    //   color #aabccf
    //   background none
    //   border none
.btn-wrapper
  text-align right
  span
    display inline-block
    font-size .8rem
    padding .5rem
    cursor pointer
    transition .4s ease
    box-shadow 0 0 .3rem 0 #2c3e50
    margin .3rem
    border-radius .2rem
    color #fff
    &.cancel
      box-shadow 0 0 .3rem #ff4444
      &:hover
        color #BD8A8A
    &.save
      box-shadow 0 0 .3rem #78b478
      &:hover
        color #78b478
</style>