<template>
  <h1>
    {{ title }}
  </h1>
</template>

<script>
export default {
  name: 'Index',
  props: {
    content: Object
  },
  computed: {
    title: () => {
      if (!content.title.error) {
        return content.title.text
      }
      return content.title.error
    }
  }
}
</script>

<style lang="stylus" scoped>
  h3
    margin 40px 0 0
  a
    color #42b983
</style>
