<template>
  <div class="navigation">
    <router-link 
      to="/start"
      :class="isActiveRoute('StartPage')"
    >Start Page</router-link>
    <router-link 
      to="/test" 
      :class="isActiveRoute('TestPage')"
    >Test Page</router-link>
    <span 
      v-if="isTestStarted"
      @click="editQuestion()">Edit</span>
  </div>
</template>

<script>
export default {
  name: 'Navigation',
  data() {
    return {
      counter: 0
    }
  },
  computed: {
    isTestStarted() {
      return this.$route.params.id
    }
  },
  methods: {
    bloop() {
      this.counter++
      switch(true) {
        case this.counter >= 3 && this.counter < 5:
          console.warn('hey! dude...')
          break
        case this.counter > 5:
          console.error('realy? edit? ...hahaha')
          break
        default:
          console.log('ok!')
      }
    },
    isActiveRoute(routeName) {
      return this.$route.name === routeName && 'active'
    }
  },
  mounted() {
    console.warn('Navigation is inited', this.$route)
  }
}
</script>

<style lang="stylus" scoped>
.navigation
  display flex
  padding-bottom 1rem
  a
    padding-right 1rem
  span
    &:last-child
      margin-left auto
.active
  pointer-events none 
  text-decoration none
  opacity .7
</style>