<template>
  <Navigation />
  <router-view class="wrapper" />
</template>

<script>
import Navigation from '@/components/Navigation.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'App',
  components: {
    Navigation
  },
  data() {
    return {
      
    }
  },
  computed: {
    ...mapGetters(['GET_TOKEN', 'GET_TEST']),
  },
  methods: {
    ...mapActions(['SET_TOKEN', 'FETCH_TEST'])
  },
  created() {
    // this.SET_TOKEN()
    this.FETCH_TEST()
  },
  mounted() {
    // console.warn('App is inited with session id:', this.GET_TOKEN)
    console.warn('App is inited')
  }
}
</script>

<style lang="stylus">
body
  background-color #1f1f1f
  margin 0

#app
  font-family Montserrat
  font-size .9rem
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #aabccf
  padding 1rem
  box-sizing border-box
  display flex
  flex-flow column
  min-height 100vh
  height 100%

.wrapper
  max-width 768px
  margin 0 auto
  height 100%
  position relative
  flex-grow 1

h3
  text-align center
  font-size 1.3rem
  margin-top 0
a
  color #42b983

</style>
